<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Service Professional Signup
    <form action="{{url_for('submit')}}" >
        <p>
        <label for="email">EMAIL </label>
        <input type='email' id="email"value="username/email" > 
        </p>
        <p>
        <label for="pwd" >Password</label>
        <input type="password" id="pwd" name="pwd">
        </p> 
        <p>
        <label for="Exp">Experience (in Yrs)</label>
        <input type="text">
        </p>
        <p>
        <label for="pdf">Attach documents in single PDF</label>
        <input type="file">
        </p>
        <p>
        <span><label for="fname">First Name</label>
        <input type="text" id="fname" name="fname"></span>
        <span><label for="lname">Last Name</label>
        <input type="text" id="lname" name="lname"></span>
        </p>
        <p>
        <label for="phno">Phonenumber</label>
        <input type="int" id="phno" name="phno">
        </p>
        <p>
        <label for="altphno">Phonenumber</label>
        <input type="int" id="altphno" name="altphno">
        </p>
        <p>
        <label for="Service name">Service Name</label>
        <select id="Service name" name="Sname">
        <option value="HouseCleaning">HouseCleaning</option>
        <option value="Bathroom Cleaning">Bathroom Cleaning</option>
        <option value="Electrical appliance repair">Electrical appliance repair</option>
        <option value="Cooking">Cooking</option>
        </select>
        </p>
        <p>
        <span>
        <label for="ad1">House No</label>
        <input type="text" id="ad1" name="ad1">     
        </span>
        <span>
        <label for="ad2">Addressline1</label>
        <input type="text" id="ad2" name="ad2">   
        </span>
        <span>
        <label for="ad3">Addressline2</label>
        <input type="text" id="ad3" name="ad3">
        </p></span>
        <p>
        <label for="city">City</label>
        <input type="text" id="city" name="city">
        </p></span>
        <p>
        <label for="country">Country</label>
        <input type="text">
        </p>
        <p>
        <label for="Pincode">Pincode</label>
        <input type="text">
        </p>
        <button type="submit">Login</button>
        <br>
        <a href="/">Register Here </a>
    </form>
</body>
</html>