<html>
  <head>
    <!--https://docs.google.com/document/u/0/d/1FEGrgYfUSCSo4t5QD0AHy9L_idrBGqTEUiGG7a_9OgI/pub?pli=1#h.fhnbs5zd1mfq-->
  </head>
  </title>
  Welcome to SwachGhar Household services
</title>
<!--https://docs.google.com/document/d/1waf_CKBLk25fkwF-R4KS7wLq4KTIPhUcAtj6if5N-zo/pub-->
  <body>
    Welcome to SwachGhar Household services
    <form method="post"> 
    <span align="Right"><a href= "{{ url_for('register', usertypename='professional') }}">Register as professional</a>
    </span>
    <br>
      <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" ><br>
  <label for="pwd"> Password </label><br>
  <input type="password" id="pwd" name="pwd" ><br><br>
  <button type="Submit"> Login </button>
  <p>
    </form>
    <a href= "{{ url_for('register', usertypename='customer') }}" id="customer">Create Account - Customer Signup</a>

  </body>

</html>
