<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewService</title>
</head>
<body>
    <form action="/add" >
        <p>
        <label for="Service Name">Service Name </label>
        <input type='text' id="SName" > 
        </p>
        <p>
        <label for="Des" >Description</label>
        <input type="text">
        </p>
        <p>
        <label for="Exp">Experience (in Yrs)</label>
        <input type="text">
        </p>
        <p>
        <label for="Base Price">Attach documents in single PDF</label>
        <input type="text">
        </form>
        <button type="submit"> add </button>
        <button type="submit"> cancel</button>
</body>
</html>